<a href="https://colab.research.google.com/github/Oluseysco/Python_Machine_learning_Oluseyi/blob/master/Oluseyi_Ajayi_Carbon_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import Ridge
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from sklearn.svm import SVC
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix
import datetime as dt
import pickle
pd.options.display.float_format = '{:.5f}'.format

In [84]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [85]:
df=pd.read_csv('/content/gdrive/MyDrive/Ex2 - Data.csv')

In [86]:
df.describe()

,Unnamed: 0,ID,Target,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var154,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163
count,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,...,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000,13015.00000
mean,12281.01153,6508.00000,0.02159,38.43289,2.60338,1.04226,1711.53976,0.05255,15.36928,9.96158,...,0.02328,0.00738,0.01529,0.59992,0.02536,0.00277,0.12570,108.30671,2.75244,4.47445
std,8902.14131,3757.25121,0.14535,7.62579,1.05913,0.20119,3564.15791,0.22315,5.21771,9.56819,...,0.15080,0.08557,0.12271,0.48993,0.15721,0.05252,0.33152,253.95145,2.38400,1.93801
min,1.00000,1.00000,0.00000,22.00000,1.00000,1.00000,22.09209,0.00000,5.44846,1.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.76425,1.00000,0.00000
25%,4901.50000,3254.50000,0.00000,33.00000,2.00000,1.00000,297.71600,0.00000,11.84681,3.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,12.79995,1.00000,3.00000
50%,10167.00000,6508.00000,0.00000,39.00000,2.00000,1.00000,644.55600,0.00000,14.93204,7.00000,...,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,32.07640,2.00000,5.00000
75%,21448.50000,9761.50000,0.00000,44.00000,3.00000,1.00000,1569.38000,0.00000,18.37754,13.00000,...,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,81.43900,3.00000,6.00000
max,30812.00000,13015.00000,1.00000,55.00000,5.00000,2.00000,23135.05500,1.00000,43.76832,50.00000,...,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,2919.22000,10.00000,10.00000

In [87]:
df.corr()

,Unnamed: 0,ID,Target,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var154,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163
Unnamed: 0,1.00000,0.97730,-0.04259,0.06411,-0.07422,-0.07200,-0.07924,0.00536,-0.35649,0.00623,...,-0.13059,-0.00690,-0.11596,0.27231,0.07681,0.01814,-0.01672,0.00865,-0.07947,0.19408
ID,0.97730,1.00000,-0.05170,0.06558,-0.07521,-0.07373,-0.07285,0.00147,-0.37395,-0.02463,...,-0.13745,-0.00776,-0.12670,0.24311,0.09681,0.02930,0.01563,0.01052,-0.08214,0.16577
Target,-0.04259,-0.05170,1.00000,-0.02334,-0.00876,0.00033,0.03895,0.01240,0.05455,0.01795,...,0.00161,-0.00045,0.01165,-0.01141,-0.00715,0.00224,-0.01327,-0.01042,0.01121,0.02037
Var4,0.06411,0.06558,-0.02334,1.00000,0.01952,-0.40564,-0.02442,-0.04159,-0.04297,0.00107,...,0.00360,0.03915,-0.04107,-0.00134,0.00469,0.00277,0.02638,-0.00960,-0.11508,-0.08622
Var5,-0.07422,-0.07521,-0.00876,0.01952,1.00000,-0.00500,-0.12560,-0.04445,0.02722,-0.02426,...,0.04531,0.00176,0.00587,-0.03379,0.08948,0.02249,-0.00309,-0.05205,-0.02072,-0.07779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Var159,0.01814,0.02930,0.00224,0.00277,0.02249,-0.00379,0.00143,-0.00585,-0.03515,-0.01630,...,-0.00813,0.04675,-0.00656,-0.03164,0.12179,1.00000,-0.01997,-0.00691,0.01038,-0.00233
Var160,-0.01672,0.01563,-0.01327,0.02638,-0.00309,0.01021,0.02509,-0.03425,-0.04273,-0.06141,...,-0.05854,-0.03269,-0.04725,-0.46432,-0.06116,-0.01997,1.00000,-0.01500,-0.01293,-0.06736
Var161,0.00865,0.01052,-0.01042,-0.00960,-0.05205,0.00209,0.11200,0.02822,-0.02535,0.03619,...,-0.03136,0.02593,0.01486,0.00221,-0.02473,-0.00691,-0.01500,1.00000,0.01942,0.09440
Var162,-0.07947,-0.08214,0.01121,-0.11508,-0.02072,0.09327,0.10403,-0.00891,0.04451,0.00737,...,0.00107,-0.00574,0.03606,-0.08553,0.03315,0.01038,-0.01293,0.01942,1.00000,0.09654
Var163,0.19408,0.16577,0.02037,-0.08622,-0.07779,0.03982,0.04004,0.02052,-0.01404,0.05191,...,-0.02991,-0.00859,0.00697,0.06543,0.02735,-0.00233,-0.06736,0.09440,0.09654,1.00000

In [88]:
df.columns

Index(['Unnamed: 0', 'ID', 'Fold', 'Target', 'Var4', 'Var5', 'Var6', 'Var7',
       'Var8', 'Var9',
       ...
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159', 'Var160',
       'Var161', 'Var162', 'Var163'],
      dtype='object', length=164)

In [89]:
df_t=df.Target

In [90]:
df=df.drop(columns=['Unnamed: 0','ID'])

In [91]:
df_t.value_counts()

0    12734
1      281
Name: Target, dtype: int64

In [92]:
x_train=df[df.Fold=='IS']
x_test=df[df.Fold=='OS']
y_train=x_train.Target
y_test=x_test.Target

In [93]:
x_test

,Fold,Target,Var4,Var5,Var6,Var7,Var8,Var9,Var10,Var11,...,Var154,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163
100,OS,0,28,2,1,8840.95000,0,17.01961,21,0,...,0,0,0,1,0,0,0,88.40950,10,5
1296,OS,0,23,4,2,322.51600,0,14.88430,25,1,...,0,0,0,1,0,0,0,80.62900,2,5
1504,OS,0,27,2,1,302.88600,0,16.65385,10,0,...,0,0,0,1,0,0,0,7.57215,3,6
1526,OS,0,29,4,1,74.57850,0,13.31579,11,1,...,0,0,0,1,0,0,0,7.45785,1,3
1527,OS,0,32,1,1,223.73550,0,18.52667,21,0,...,0,0,0,1,0,0,0,2.98314,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13010,OS,0,43,2,1,141.72660,0,14.37778,24,1,...,0,0,0,0,0,0,0,787.37000,9,7
13011,OS,0,40,2,1,236.14350,1,16.08594,19,0,...,0,0,0,1,0,0,0,12.59432,7,5
13012,OS,0,46,3,1,157.42900,0,7.99265,2,1,...,0,0,0,1,0,0,0,78.71450,3,6
13013,OS,0,34,1,1,786.64500,0,15.39552,31,1,...,0,0,0,0,0,0,0,157.32900,3,5
13014,OS,0,36,2,1,6299.44000,1,15.42105,4,0,...,0,0,0,0,0,0,0,314.97200,3,8

In [94]:
x_train=x_train.drop(columns=['Fold','Target'])
x_test=x_test.drop(columns=['Fold','Target'])

In [95]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def clas (model_type):
   lin = model_type
   logreg=lin.fit(x_train,y_train)
   logreg.score(x_train,y_train)
   result=logreg.score(x_test,y_test)
   pred=logreg.predict(x_test)
   matr=confusion_matrix(y_test,pred)
   print('the percentage accuracy is',result)
   print('the confusion matrix is',matr)
clas(log)

the percentage accuracy is 0.9828200293316572
the confusion matrix is [[4691    0]
 [  82    0]]

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

In [102]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def clas (model_type):
   lin = model_type
   logreg=lin.fit(x_train,y_train)
   logreg.score(x_train,y_train)
   result=logreg.score(x_test,y_test)
   pred=logreg.predict(x_test)
   matr=confusion_matrix(y_test,pred)
   print('the percentage accuracy is',result)
   print('the confusion matrix is',matr)
clas(tree)

the percentage accuracy is 0.944688874921433
the confusion matrix is [[4503  188]
 [  76    6]]

In [105]:
df['PredTarget']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
13010    NaN
13011    NaN
13012    NaN
13013    NaN
13014    NaN
Name: PredTarget, Length: 13015, dtype: object

In [104]:
df

,Fold,Target,Var4,Var5,Var6,Var7,Var8,Var9,Var10,Var11,...,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163,PredTarget
0,IS,0,40,3,1,5304.57000,0,18.60952,8,1,...,0,0,1,0,0,0,53.04570,1,6,NaN
1,IS,0,26,4,1,884.09500,0,25.97087,13,1,...,0,0,0,0,0,0,884.09500,3,5,NaN
2,IS,0,30,2,1,3536.38000,0,25.68627,46,1,...,0,0,1,0,0,0,88.40950,1,0,NaN
3,IS,0,52,1,1,884.09500,0,18.01961,17,1,...,0,0,0,0,0,0,353.63800,7,2,NaN
4,IS,0,31,2,1,9725.04500,0,28.66667,24,0,...,0,0,0,0,0,0,8.84095,9,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13010,OS,0,43,2,1,141.72660,0,14.37778,24,1,...,0,0,0,0,0,0,787.37000,9,7,NaN
13011,OS,0,40,2,1,236.14350,1,16.08594,19,0,...,0,0,1,0,0,0,12.59432,7,5,NaN
13012,OS,0,46,3,1,157.42900,0,7.99265,2,1,...,0,0,1,0,0,0,78.71450,3,6,NaN
13013,OS,0,34,1,1,786.64500,0,15.39552,31,1,...,0,0,0,0,0,0,157.32900,3,5,NaN
13014,OS,0,36,2,1,6299.44000,1,15.42105,4,0,...,0,0,0,0,0,0,314.97200,3,8,NaN

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def clas (model_type):
   lin = model_type
   logreg=lin.fit(x_train,y_train)
   logreg.score(x_train,y_train)
   result=logreg.score(x_test,y_test)
   pred=logreg.predict(x_test)
   matr=confusion_matrix(y_test,pred)
   print('the percentage accuracy is',result)
   print('the confusion matrix is',matr)
clas(gtree)

the percentage accuracy is 0.9794678399329562
the confusion matrix is [[4675   16]
 [  82    0]]

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def clas (model_type):
   lin = model_type
   logreg=lin.fit(x_train,y_train)
   logreg.score(x_train,y_train)
   result=logreg.score(x_test,y_test)
   pred=logreg.predict(x_test)
   matr=confusion_matrix(y_test,pred)
   print('the percentage accuracy is',result)
   print('the confusion matrix is',matr)
clas(svm)

the percentage accuracy is 0.9828200293316572
the confusion matrix is [[4691    0]
 [  82    0]]

# **SAMPLING OF TRAINING DATA TO BALANCE THE DATA**

In [ ]:
dff=pd.read_csv('/content/gdrive/MyDrive/Ex2 - Data.csv')
dff

,Unnamed: 0,ID,Fold,Target,Var4,Var5,Var6,Var7,Var8,Var9,...,Var154,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163
0,1,1,IS,0,40,3,1,5304.57000,0,18.60952,...,0,0,0,1,0,0,0,53.04570,1,6
1,2,2,IS,0,26,4,1,884.09500,0,25.97087,...,0,0,0,0,0,0,0,884.09500,3,5
2,4,3,IS,0,30,2,1,3536.38000,0,25.68627,...,0,0,0,1,0,0,0,88.40950,1,0
3,5,4,IS,0,52,1,1,884.09500,0,18.01961,...,0,0,0,0,0,0,0,353.63800,7,2
4,6,5,IS,0,31,2,1,9725.04500,0,28.66667,...,0,0,0,0,0,0,0,8.84095,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13010,30471,13011,OS,0,43,2,1,141.72660,0,14.37778,...,0,0,0,0,0,0,0,787.37000,9,7
13011,30472,13012,OS,0,40,2,1,236.14350,1,16.08594,...,0,0,0,1,0,0,0,12.59432,7,5
13012,30506,13013,OS,0,46,3,1,157.42900,0,7.99265,...,0,0,0,1,0,0,0,78.71450,3,6
13013,30734,13014,OS,0,34,1,1,786.64500,0,15.39552,...,0,0,0,0,0,0,0,157.32900,3,5
13014,30812,13015,OS,0,36,2,1,6299.44000,1,15.42105,...,0,0,0,0,0,0,0,314.97200,3,8

In [ ]:
dff=dff.drop(columns=['Unnamed: 0','ID'])

In [ ]:
x_training=dff[df.Fold=='IS']
x_testing=dff[df.Fold=='OS']
y_training=x_training.Target
y_testing = x_testing.Target

In [ ]:
x_training=x_training.drop(columns=['Fold','Target'])
x_testing=x_testing.drop(columns=['Fold','Target'])

In [ ]:
x_training

,Var4,Var5,Var6,Var7,Var8,Var9,Var10,Var11,Var12,Var13,...,Var154,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163
0,40,3,1,5304.57000,0,18.60952,8,1,0,1.00000,...,0,0,0,1,0,0,0,53.04570,1,6
1,26,4,1,884.09500,0,25.97087,13,1,0,5.00000,...,0,0,0,0,0,0,0,884.09500,3,5
2,30,2,1,3536.38000,0,25.68627,46,1,0,4.00000,...,0,0,0,1,0,0,0,88.40950,1,0
3,52,1,1,884.09500,0,18.01961,17,1,0,4.00000,...,0,0,0,0,0,0,0,353.63800,7,2
4,31,2,1,9725.04500,0,28.66667,24,0,0,2.00000,...,0,0,0,0,0,0,0,8.84095,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8652,47,2,1,157.95800,0,9.35833,5,0,0,13.00000,...,0,0,0,0,0,0,1,47.38740,1,5
8660,48,4,1,236.93700,0,6.80000,1,1,0,16.00000,...,0,0,0,0,1,0,0,31.59160,3,3
8675,29,2,1,789.09500,1,16.25954,5,0,0,9.00000,...,0,0,0,0,0,0,1,315.63800,3,3
8702,41,2,1,948.06000,0,13.72656,3,0,0,20.00000,...,0,0,0,1,0,0,0,4.74030,1,5
8724,44,1,1,3154.80000,0,9.82836,4,0,0,30.00000,...,0,0,0,1,0,0,0,473.22000,1,10

In [ ]:
import imblearn
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

In [ ]:
under = RandomUnderSampler(sampling_strategy=0.25)
new_x_training,new_y_training = under.fit_resample(x_training, y_training)

In [ ]:
new_y_training.value_counts()

0    796
1    199
Name: Target, dtype: int64

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def classes (model_types):
   lin = model_types
   logreg=lin.fit(new_x_training,new_y_training)
   logreg.score(new_x_training,new_y_training)
   resulting=logreg.score(x_testing,y_testing)
   predict=logreg.predict(x_testing)
   matrix=confusion_matrix(y_testing,predict)
   print('the percentage accuracy is',resulting)
   print('the confusion matrix is',matrix)
classes(log)

the percentage accuracy is 0.9788393044206998
the confusion matrix is [[4670   21]
 [  80    2]]

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def classes (model_types):
   lin = model_types
   logreg=lin.fit(new_x_training,new_y_training)
   logreg.score(new_x_training,new_y_training)
   resulting=logreg.score(x_testing,y_testing)
   predict=logreg.predict(x_testing)
   matrix=confusion_matrix(y_testing,predict)
   print('the percentage accuracy is',resulting)
   print('the confusion matrix is',matrix)
classes(tree)

the percentage accuracy is 0.8047349675256652
the confusion matrix is [[3813  878]
 [  54   28]]

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def classes (model_types):
   lin = model_types
   logreg=lin.fit(new_x_training,new_y_training)
   logreg.score(new_x_training,new_y_training)
   resulting=logreg.score(x_testing,y_testing)
   predict=logreg.predict(x_testing)
   matrix=confusion_matrix(y_testing,predict)
   print('the percentage accuracy is',resulting)
   print('the confusion matrix is',matrix)
classes(gtree)

the percentage accuracy is 0.963963963963964
the confusion matrix is [[4599   92]
 [  80    2]]

In [ ]:
log=LogisticRegression()
tree=DecisionTreeClassifier()
gtree=GradientBoostingClassifier()
svm=SVC()
def classes (model_types):
   lin = model_types
   logreg=lin.fit(new_x_training,new_y_training)
   logreg.score(new_x_training,new_y_training)
   resulting=logreg.score(x_testing,y_testing)
   predict=logreg.predict(x_testing)
   matrix=confusion_matrix(y_testing,predict)
   print('the percentage accuracy is',resulting)
   print('the confusion matrix is',matrix)
classes(svm)

the percentage accuracy is 0.9824010056568196
the confusion matrix is [[4689    2]
 [  82    0]]

In [106]:
# importing decision tree algorithm
from sklearn.tree import DecisionTreeClassifier

# entropy means information gain
classifer = DecisionTreeClassifier(criterion='entropy', random_state=0)

# providing the training dataset
classifer.fit(x_training,y_training)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [107]:
y_pred = classifer.predict(x_testing)

In [109]:
df = df.apply(lambda row : y_pred )

In [110]:
df

,Fold,Target,Var4,Var5,Var6,Var7,Var8,Var9,Var10,Var11,...,Var155,Var156,Var157,Var158,Var159,Var160,Var161,Var162,Var163,PredTarget
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4769,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4770,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4771,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4772,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
df.to_csv('/content/gdrive/MyDrive/Ex2 - Dataoutput.csv')

Task 6 - Make visualizations. If you are disconnected, please run the previous cells by clicking on this cell, going to Runtime, then clicking Run before.

In [ ]:
color_status = {'functional': 'green', 'non functional': 'red', 'functional needs repair': 'blue'}